@import "./../../adaptive-fontMixin.scss";
.start_training_section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 50px;
    .start_training_wrapper_progress_bar {
        display: flex;
        flex-direction: column;
        width: 50%;
        color: white;
        margin: 5px auto;
        .start_training_title {
            @include adaptive-font(18, 14);
            width: 100%;
            font-weight: 600;
            margin-left: 5px;
        }
        output {
            @include adaptive-font(20, 14);
            margin-left: 5px;
        }
    }
    .start_training_infoBlock {
        position: relative;
        width: 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        div {
            width: 100%;
            height: 100%;
        }
        iframe {
            margin: 0 auto;
        }
    }

    .start_training_tabs_button {
        width: 50%;
        margin: 0 auto;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 1024px) {
    .start_training_section {
        .start_training_infoBlock {
            width: 70%;
            height: 350px;
        }
        .start_training_wrapper_progress_bar {
            width: 70%;
        }
    }
}

@media (max-width: 767px) {
    .start_training_section {
        .start_training_tabs_button {
            width: 80%;
            margin: 0 auto;
        }
        .start_training_wrapper_progress_bar {
            width: 90%;
        }
        .start_training_infoBlock {
            width: 90%;
        }
    }
}

@media (max-width: 460px) {
    .start_training_section {
        .start_training_tabs_button {
            width: 90%;
            margin: 0 auto;
        }
        .start_training_wrapper_progress_bar {
            width: 100%;
        }
        .start_training_infoBlock {
            width: 100%;
            height: 300px;
        }
    }
}

@media (max-width: 360px) {
    .start_training_section {
        .start_training_tabs_button {
            width: 95%;
            margin: 0 auto;
        }
    }
}
