@import "./../../adaptive-fontMixin.scss";

.pagination_block {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.training_section {
    padding-bottom: 20px;
}
.training_article {
    display: flex;

    .aside {
        width: 15%;
        .nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            label {
                @include adaptive-font(18, 16);
                .button {
                    margin: 12px 10px 12px 0;
                    background-color: cornflowerblue;
                    border: 1px solid #9b5656;
                    border-radius: 10px;
                    color: aliceblue;
                    transition: background-color 0.3s, color 0.3s;
                }
            }
        }
    }
}
.training_block_training {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 20px 10px 0 0;
    align-items: stretch;
    p {
        @include adaptive-font(18, 12);
        padding: 6px 0 10px 10px;
        color: white;
        font-weight: 600;

        -webkit-text-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
        -moz-text-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
        text-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
    }
    .training_training_item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 31.5%;
    }
}

.training_block_training img {
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
    -moz-box-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
    box-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
}

@media (max-width: 1024px) {
    .training_block_training {
        grid-template-columns: 1fr 1fr;
    }
    .pagination_block {
        width: 80%;
        display: flex;
    }
}

@media (max-width: 767px) {
    .training_article {
        flex-direction: column;
    }
    .training_block_training {
        width: 95%;
        margin: 20px auto 0 auto;
        .training_training_item {
            width: 31%;
        }
    }
    .pagination_block {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .training_block_training {
        .training_training_item {
            width: 47%;
        }
    }
}
