@import "./../../adaptive-fontMixin.scss";

.pagination_block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: 20px;
}

.training_section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 60px;
}
.training_article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.training_block_training {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 20px 10px 0 0;

    p {
        @include adaptive-font(18, 12);
        padding: 6px 0 10px 10px;
        color: white;
        font-weight: 600;

        -webkit-text-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
        -moz-text-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
        text-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
    }
    .training_training_item {
        display: grid;
        grid-template-columns: 1fr;
        width: 97%;
    }
}

.training_block_training img {
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
    -moz-box-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
    box-shadow: 1px 1px 29px 20px rgba(44, 52, 64, 0.52);
}

@media (max-width: 1024px) {
    .training_block_training {
        grid-template-columns: 1fr 1fr;
    }
    .pagination_block {
        width: 80%;
        display: flex;
    }
}

@media (max-width: 767px) {
    .training_article {
        flex-direction: column;
    }
    .training_block_training {
        width: 95%;
        margin: 20px auto 0 auto;
    }
    .pagination_block {
        width: 100%;
    }
}
