.carousel_wrapper_main {
    display: flex;
    width: 90dvw;
    height: 80dvh;

    .carousel_container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        cursor: pointer;
        padding: 8px 16px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        .carousel_item {
            display: flex;

            justify-content: center;
            align-items: center;
            height: 100%;
            min-width: 79dvw;
            background-color: rgb(122, 70, 253);
            margin: 0 8px;
            color: aliceblue;
            border-radius: 20px;
            transition: all 500ms ease;
        }
        .carousel_item.active {
        }
    }
    .carousel_container::-webkit-scrollbar {
        display: none;
    }
}
