@import "../../adaptive-fontMixin.scss";

.carousel_wrapper_main {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 85dvw;
    height: 80dvh;

    h2 {
        display: flex;
        @include adaptive-font(30, 20);
        padding: 8px 0 8px 0;
        justify-content: flex-start;
        font-weight: 500;
        margin-left: 16px;
    }
    .carousel_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        cursor: pointer;
        padding: 8px 16px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        perspective: 1200px;
        .carousel_item {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            height: 100%;
            min-width: 78dvw;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 101% 100%;
            margin: 0 8px;
            color: aliceblue;
            border-radius: 20px;
            transition: all 500ms ease;
            transform: rotateY(-30deg);
            transform-origin: right center;
            span {
                display: block;
                width: 100%;
                position: absolute;
                bottom: 15px;
                text-align: center;
                @include adaptive-font(40, 30);
                font-weight: 600;
            }
        }

        .carousel_item.home {
            background-image: url("../FormGenerationTraining/images/homeTraining.jpg");
        }
        .carousel_item.gym {
            background-image: url("../FormGenerationTraining/images/gymTraining.jpg");
        }
        .carousel_item.library {
            background-image: url("../FormGenerationTraining/images/libraryExercise.jpg");
        }
        .carousel_item.customTraining {
            background-image: url("../FormGenerationTraining/images/customTraining.jpg");
        }

        .carousel_item.active {
            transform: rotateY(0);
            transform-origin: right center;
        }
        .carousel_item.prev {
            transform: rotateY(30deg);
            transform-origin: left center;
        }

        .carousel_container::-webkit-scrollbar {
            display: none;
        }
    }
    .bullet {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        width: 20%;
        height: 10px;
        z-index: 10;

        .bullet_point {
            height: 8px;
            width: 8px;
            background-color: rgba($color: #42a5f5, $alpha: 0.5);
            border-radius: 50%;
            transition: all 0.3s ease;
        }
        .bullet_point.active {
            height: 8px;
            width: 20px;
            background-color: white;
            border-radius: 5px;
            transition: all 0.5s ease;
        }
    }
}
