.menu_menu {
    width: 1163px;
    display: flex;
    margin: 30px 0 0 0;
    justify-content: space-between;
}
.menu_menu li {
    font-size: 20px;
}
.menu_menu li:not(:first-child) {
    margin: 30px 0 0 53px;
}
.menu_block {
    display: flex;
    width: 1083px;
    margin-left: auto;
    overflow-x: auto;
}

.menu_block::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0);
}
.menu_arrow:active {
    max-height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 50px;
    transition: all 500ms;
}
@media (max-width: 767px) {
    .menu_block {
        display: none;
    }
    .menu_block::-webkit-scrollbar {
        width: 0px;
        background: rgba(255, 255, 255, 0);
    }
    .menu_arrow {
        display: none;
    }
}
