@import "./../../adaptive-fontMixin.scss";

.save_and_generation_training_popup {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    article {
        width: 50%;
        background-color: white;
        display: flex;
        justify-content: space-around;
    }
}

.form_gen_train_step_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #1a2131;
    padding-bottom: 50px;
    h2 {
        @include adaptive-font(30, 20);
        margin: 16px 0;
    }
    .form_gen_train_step_secondHeader {
        @include adaptive-font(30, 20);
        margin: 32px 0 32px 0;
    }
    .form_gen_train_step_selectBlock {
        display: flex;
        flex-direction: column;
        label {
            justify-content: center;
            flex-direction: row;
            @include adaptive-font(18, 12);
            span {
                @include adaptive-font(16, 12);
            }
        }
    }

    .form_gen_train_step_blockInventory {
        width: 60%;
        margin: 0 auto;
        h3 {
            color: #fefefe;
            margin: 20px auto 20px auto;
            @include adaptive-font(26, 16);
        }
    }
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .textField {
            width: 50%;
            margin: 0 auto;
            input {
                color: white;
            }
        }

        select {
            width: 50%;
            display: flex;
            justify-content: space-between;
            @include adaptive-font(16, 12);
            padding: 6px 0 6px 4px;
            margin: 20px auto 0 auto;
            border-bottom: 2px solid lightblue;
            color: #fefefe;
        }
        button {
            width: 30%;
            margin: 15px auto 20px auto;
            padding: 8px 0 8px 0;
            border-radius: 10px;
            @include adaptive-font(16, 12);
        }
        button:hover {
            background-color: #0056b3;
            transform: scale(1.1);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        }
        .button:active {
            background-color: #003b80;
            transform: scale(0.9);
            box-shadow: none;
        }

        .button:focus {
            outline: none;
        }

        article {
            margin: 24px auto 24px auto;
        }
    }

    .textarea {
        width: 50%;
        height: 150px;
        @include adaptive-font(16, 12);
        padding: 6px 4px;
        resize: none;
        margin: 20px auto 0 auto;
        border: 2px solid lightblue;
        border-radius: 8px;
    }
    .textarea:focus {
        border: 2px solid white;
        outline: 2px solid lightseagreen;
    }
}

.form_gen_train_step_inlineRadio {
    width: 100%;
    display: flex;
    flex-direction: column;

    .radio {
        width: 35%;
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
        color: #fefefe;
        input {
            margin: 15px auto 0 auto;
        }
    }
    .radio :not(:first-child) {
        margin: 0 0 0 20px;
    }
}

.wrapper_two_button {
    width: 50%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .button_third_step {
        margin: 8px 0;
    }
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
    .form_gen_train_step_wrapper {
        section {
            width: 100%;
        }
    }
    .wrapper_two_button {
        width: 75%;
    }
}
@media (max-width: 600px) {
    .wrapper_two_button {
        width: 80%;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 460px) {
    .form_gen_train_step_wrapper {
        section {
            input {
                width: 90%;
            }
            .textarea {
                width: 80%;
            }
            select {
                width: 90%;
            }
            button {
                width: 50%;
            }
        }
    }
}
