@import "./../../adaptive-fontMixin.scss";

.form_training_wrapper {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 20px 10px 0 10px;
}

@media (max-width: 767px) {
    .form_training_wrapper {
        width: 320px;
        margin: 20px auto 0 auto;
    }
}
