@import "./../../adaptive-fontMixin.scss";
.pagination_block {
    display: flex;
    width: 80%;
    margin-left: auto;
    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
}
.pagination_input {
    padding: 8px 10px;
    @include adaptive-font(18, 16);
    background-color: cornflowerblue;
    border: 1px solid #9b5656;
    border-radius: 10px;
    color: aliceblue;

    transition: background-color 0.3s, color 0.3s;
}
.pagination_input:hover {
    background-color: #9b5656;
    color: white;
}
.pagination_input.pagination_active {
    background-color: black;
    transition: background-color 0.3s, color 0.3s;
}
.pagination_input.active:hover {
    background-color: white;
    color: black;
}
.pagination_button {
    height: 40px;
    padding: 8px 6px;
    margin: 35px 0 0 0;
    font-size: 18px;
    line-height: 1.5;
    background-color: cornflowerblue;
    border: 1px solid #9b5656;
    border-radius: 10px;
    color: aliceblue;
    transition: background-color 0.3s, color 0.3s;
}

.pagination_button:hover {
    background-color: #9b5656;
    color: white;
}

@media (max-width: 560px) {
    .pagination_block {
        width: 100%;
    }
}
