.block {
    display: flex;
    width: 93%;
    margin: 0 auto;
    border-radius: 20px;
    background: black;
    -webkit-box-shadow: -6px -15px 28px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -6px -15px 28px -3px rgba(0, 0, 0, 0.5);
    box-shadow: -6px -15px 28px -3px rgba(0, 0, 0, 0.5);
}

.block p {
    color: aliceblue;
}

.block_paragraph {
    margin: auto 0;
}
