@import './adaptive-fontMixin.scss';

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
    article {
        margin: 50px 0 0 0;
    }
    button {
        display: flex;
        margin: 20px 0 0 10px;
        font-size: 20px;
        border: none;
        background: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        .buttonCheckAll {
            margin: 2px 0 0 5px;
        }
    }
    article.open button {
        background-color: #f5f5f5;
    }

    article button {
        border: 1px solid #ccc;
        padding: 3px 12px;
        border-radius: 10px;
    }
    article button .buttonCheckAll {
        color: red;
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
    }
    article.open button .buttonCheckAll {
        color: red;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
    article.open button:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    button:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    button:active {
        background-color: rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s ease;
    }
    .hiddenButton {
        display: none;
    }
    .list {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    article.open .list {
        max-height: 700px; /* Задайте здесь желаемую максимальную высоту списка */
    }
}
.titleButton {
    display: flex;
    .addExcerciseBlock {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .addExcercise {
        margin: 22px 0 0 8px;
        color: green;
        cursor: pointer;
    }
    span {
        @include adaptive-font(17, 12);
        margin: 24px 0 0 3rem;
    }
}

.list {
    margin-top: 24px;
    color: #fff;
    padding: 0;
}
.list li {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #8e824a;
    @include adaptive-font(20, 12);
    margin: 10px 0 0 0;
    padding: 12px 12px 12px 12px;
    border-radius: 20px;
}
.buttonTodo {
    @include adaptive-font(20, 16);
}

.head {
    @include adaptive-font(30, 20);
    margin: 0 auto;
}
.head span {
    padding: 0 0 0 10px;
    color: darkred;
}
.blockButton {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    div {
        display: flex;
        justify-content: space-around;
    }
    .button {
        display: flex;
        @include adaptive-font(18, 11);
        padding: 0.8rem 1rem;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 24px;
        background-color: indianred;
        color: #fff;
        margin: 0 0 0 7px;
    }
    .button:hover {
        background-color: indianred;
    }
    .btnBacktoForm {
        background-color: royalblue;
    }
    .btnBacktoForm:hover {
        background-color: royalblue;
    }
}
