@import './adaptive-fontMixin.scss';

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}
.list {
    margin-top: 24px;
    color: #fff;
    padding: 0;
}
.list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #8e824a;
    @include adaptive-font(20, 12);
    margin: 10px 0 0 0;
    padding: 12px 12px 12px 12px;
    border-radius: 20px;
}
.buttonTodo {
    @include adaptive-font(20, 16);
}
.head {
    @include adaptive-font(30, 20);
    margin: 0 auto;
}
.head span {
    padding: 0 0 0 10px;
    color: darkred;
}
.blockButton {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    div {
        display: flex;
        justify-content: space-around;
    }
    .button {
        display: flex;
        @include adaptive-font(18, 11);
        padding: 0.8rem 1rem;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 24px;
        background-color: indianred;
        color: #fff;
        margin: 0 0 0 7px;
    }
    .btnBacktoForm {
        background-color: royalblue;
    }
}
