.container {
    width: 100%;
    padding: 24px 0 0 0;
}
.list {
    margin-top: 24px;
    color: #fff;
}
.list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #8e824a;
    font-size: 20px;
    margin: 10px 0 0 0;
    padding: 12px 12px 12px 12px;
    border-radius: 20px;
}
.head {
    font-size: 30px;
}
.head span {
    padding: 0 0 0 10px;
    color: darkred;
}
