.blockTrening{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 32px;
   grid-row-gap: 10px;
}
.blockTrening div{
    width: 400px;
}
.blockTrening img{
    border-radius: 12px;
}