.footerWrapper {
    width: 100%;
    height: 80px;
    background-color: #0a2744;
    display: flex;
    position: fixed;
    bottom: 0;
    color: white;

    .footerItem {
        width: 33.33%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;

        .footerIcon_icon {
            color: white;
            transform: scale(2);
        }
        .footerIcon_icon.rotate {
            transform: rotate(-90deg) scale(1.7);
        }
    }
}
