.menu_user_wrapper {
    position: absolute;
    top: 60px;
    left: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 20px;
    ul {
        padding: 0;
        a {
            margin: 0;
        }
    }
}
