* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Roboto";
    font-size: 24px;
    background-color: #1a2131;
    margin: 0 auto;
}
h2 {
    margin: 0;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

li {
    margin: 1.5em 0;
    padding: 0;
}

b {
    /* used for event dates/times */
    margin-right: 3px;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
